/* 随笔时间线样式 - 共享样式 */

/* 隐藏第一个随笔的上连线 */
article:first-of-type .essay-line-top {
  display: none;
}

/* 隐藏最后一个随笔的下连线 */
article:last-of-type .essay-line-bottom {
  display: none;
}

/* 无限滚动：隐藏未加载的随笔 */
.essay-hidden {
  display: none;
}
